PyYAML==5.1.2
Sphinx==1.8.5
bumpversion==0.5.3
coverage==4.5.4
flake8==3.7.8
pycodestyle==2.5.0
pyflakes<2.1.1,>=2.0.0
pytest-cov==2.8.1
pytest==4.6.6
sphinx-rtd-theme==0.4.3
tox==3.14.0
twine==1.15.0
watchdog==0.9.0
wheel==0.33.6
